{{#each Post}}
    <div
        id="blogz"
        class="card text-bg-light mb-3"
        style="max-width: 18rem;">
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <h6 class="card-text">{{post.date_created}}</h6>
          </div>
    </div>
{{/each}}