 {{#if logged_in}}
    <center>
      <section id="hiddenPosts">
<div id="blogz" class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">The top five frameworks to make you appear taller.</h5>
    <p class="card-text">Time and time again programmers tell me the same thin.....</p>
    <a class="blogLink" href="#">Continue reading</a>
  </div>
</div>

<div id="blogz" class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">ES-QUE-EL vs Sequel: The debate is settled. </h5>
    <p class="card-text">Why do people who say sqirrel smell like wet gara.....</p>
    <a class="blogLink" href="#">Continue reading</a>
  </div>
</div>

<div id="blogz" class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Awesome Christmas gifts for Programmers 2022</h5>
    <p class="card-text">New for 2022! blueblocker contacts are setti.....</p>
    <a class="blogLink" href="#">Continue reading</a>
  </div>
</div>





</section>



</center>

      <script src="/js/logout.js"></script>
    {{/if}}

